NODE_ENV=development
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
TELEGRAM_ADMIN_CHAT_ID=YOUR_TELEGRAM_ADMIN_CHAT_ID_HERE
CHARQUEADAS_IBGE_CODE=4305355
INMET_PREVMET_URL=https://apiprevmet3.inmet.gov.br
INMET_TEMPO_URL=https://apitempo.inmet.gov.br
DEFESA_CIVIL_GRAPHQL_URL=https://redehidrometeorologica.defesacivil.rs.gov.br/graphql
MONITOR_INTERVAL_MINUTES=15
RADIUS_KM=50
SQLITE_DB_PATH=database/weather_logs.db
